--extra-index-url https://download.pytorch.org/whl/cu117
torch==2.0.1+cu117
torchvision==0.15.2+cu117

lightning
monai
numpy
tyro
einops
tifffile
imagecodecs
scikit-image
patchify
scikit-learn
scipy
matplotlib
tensorboardX
huggingface-hub
